*{
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to bottom right, #11be01, #039baf);
  }
  
header{
    max-width: 1115px;
    margin: auto;
    height: 130px;
  }

  .topnav {
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 975px;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    padding: 14px 7%;
    text-decoration: none;
    font-size: 19px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(51, 145, 54);
    color: white;
  }

  .logo{
      float:left;
}

.tourist{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.sliding-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid ;
  border-image: linear-gradient(180deg, #00cc66 0%, #ccff33);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #00cc66 0%, #ccff33);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
}

.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.review {
  display: flex;
  padding: 100px 0;
  background: white;
  color: #2f2f2f;
  text-align: center;
  justify-content: center;
}

.review p{
  text-align: left;
}

.sestim-donials{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.sectionesag {
  width: 400px;
  height: 3px;
  background: #498a2d;
  margin: 23px auto;
}

.sagestim-lonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vemotau-vokusipol{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background-color: rgb(58, 177, 58);
  padding: 28px;
  border-radius: 20px;
  color: white;
}

.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.author{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.apogered-gselected{
  color: #53b32b;
  margin-bottom: 20px;
}
.stock{
  display: flex;
  padding: 38px 0;
  color: #2f2f2f;
  justify-content: space-evenly;
}

.stock img{
  display: block;
  margin: 0 auto;
}

.stock_top{
  text-align: center;
  font-size: 20px;
  margin: 5px 0px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.subscribe{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.subscribe:hover{
  background-color: #4CAF50;
  color: white;
}

footer{
  background-color: black;
  display: flex;
}

.foot{
  max-width: 1115px;
  margin: auto;
  display: flex;
  color: white;
  text-align: center;
}

.foot_menu{
  list-style: none;
}

.foot_menu a{
  text-decoration: none;
  color: white;
}

.foot_menu a:hover{
  color: #4CAF50
}

.to_up{
  text-decoration: none;
  color: white;
}

.to_up:hover{
  color: #4CAF50;
}

footer ul p{
  margin: 0px;
}

.line{
  height: 150px;
  width: 3px;
  background-color: rgb(206, 219, 199);
  margin: 15px;
}

input{
  padding: 10px;
  border-radius: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

select{
  padding:10px;
  border-radius:10px;
}

ul{
  padding-inline-start: 0px;
}